nav {
    background: #00cba9;
  }
  
  .jumbotron {
    padding-top: 6rem;
    background-color:#00cba9);
  }
  
  #blog {
    background-color: #00cba9;
  }
  
  .btn {
    background-color: #00cba9;
  }
  
  section {
    padding-top: 5rem;
  }
  
  footer {
    background: #00cba9;
  }
  